<div class="row">
  <div>
    <h2>Información Sarla</h2>
    <div class="table-responsive-sm">
      <table class="table table-hover tableFiles">
        <thead>
          <tr>
            <th>Codigo Ejecución</th>
            <th>Bloqueo</th>
            <th>Tipo Documento</th>
            <th>Número Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="codejec">{{ dataConsult.codejec }}</td>
            <td data-label="bloqueo">{{ dataConsult.bloqueo }}</td>
            <td data-label="tipodoc">{{ dataConsult.tipodoc }}</td>
            <td data-label="numedoc">{{ dataConsult.numedoc }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
